<div class="row justify-content-center">
  <div class="col-md-6 col-sm-12">
    <div class="row">
      <div class="col-4 px-0" *ngFor="let card of listCards">
        <div class="agile-card m-1 py-5" (click)="selectedCard(card)">
          <ng-container *ngIf="card.isGlobal; else templateOnlyText">
            <i class="fas {{card.item}}"></i>
          </ng-container>
          <ng-template #templateOnlyText>
            {{ card.item }}
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
