.float-button-footer {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
}

@media only screen and (max-width: 767px) {
  .float-button-footer {
    bottom: 0rem;
    right: 3rem;
  }
}

.circle-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background: #ffffff;
  color: rgb(42, 78, 92);
  width: 3rem;
  height: 3rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  text-align: center;
  line-height: 2.6rem;
  cursor: pointer;
}
.align-center-arrow {
  vertical-align: middle;
}
