.bg-agile {
  /* background: rgb(42, 78, 92);
  background: radial-gradient(circle, rgba(42, 78, 92, 0.9640231092436975) 50%, rgba(27, 61, 60, 1) 100%); */
  background: rgb(42, 78, 92);
  background: radial-gradient(circle, rgba(39, 115, 144, 0.9640231092436975) 50%, rgb(15, 76, 74) 100%);
}

.float-button-footer {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
}

@media only screen and (max-width: 767px) {
  .float-button-footer {
    bottom: 0rem;
    right: 3rem;
  }
}

.circle-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background: #ffffff;
  color: rgb(42, 78, 92);
  width: 3rem;
  height: 3rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  text-align: center;
  line-height: 2.6rem;
  cursor: pointer;
}
.align-center-arrow {
  vertical-align: middle;
}