.agile-card-selected {
  background: #2a4e5c;
  border-color: #ffffff;
  border-style: dashed;
  border-width: 0.3rem;
  border-radius: 1rem;
  color: #ffffff;
  text-align: center;
  font-size: xx-large;
  cursor: pointer;
}

/* .content-spaicing {
  padding-top: 10rem;
  padding-bottom: 10rem;
} */

.content-spaicing {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.content-default-spaicing {
  line-height: 35rem;
}

.agile-card-selected i.fas {
  vertical-align: middle;
}

.scrum-value {
  font-size: 14rem;
  font-weight: bold;
  color: #ffffff;
}

@media only screen and (max-width: 1024px) {
  .scrum-value {
    font-size: 10rem;
  }

  .content-spaicing {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
}

.card-box {
  position: relative;
  transform-style: preserve-3d;
  transform: transform 1s;
}
.card-box__side {
  position: absolute;
  backface-visibility: hidden;
  user-select: none;
  top: 0;
  left: 0;
  width: 100%;
}
.card-box__front {
  transform: rotateY(0deg);
}
.card-box__back {
  transform: rotateY(180deg);
}
