<div class="row justify-content-center">
  <div class="col-10 px-0">
    <div [ngClass]="showClassCard(cardSelected)" (click)="clicketCard()">
      <ng-container *ngIf="cardSelected != undefined && cardSelected != null; else defaultSelected">
        <ng-container *ngIf="cardSelected.isGlobal; else iconSelected">
          <i class="fas {{cardSelected.item}} fa-7x"></i>
        </ng-container>
        <ng-template #iconSelected>
          <span class="scrum-value">{{ cardSelected.item }}</span>
        </ng-template>
      </ng-container>
      <ng-template #defaultSelected>
        <i class="fas fa-burn fa-7x"></i>
      </ng-template>
    </div>
  </div>
</div>