/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.text-agile-scrum {
  color: #ffffff;
}
.text-agile-scrum > a {
  color: #ffffff;
  text-decoration: none;
}

.text-agile-scrum > a:hover {
  color: #ffc107;
}