<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <ng-container *ngIf="!activeCardSelected; else elseTemplate">
          <apo-list-card (cardSelected)="listenerCardSelected($event)"></apo-list-card>
        </ng-container>
        <ng-template #elseTemplate>
          <apo-selected-card [cardSelectedObserver]="emiterCardSelected"
            (closeCardSelected)="listenerClosedCardSelected($event)"></apo-selected-card>
        </ng-template>
      </div>
    </div>
  </div>
</div>
