<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">

        <apo-list-card [@showerHiddenCard]="!activeCardSelected ? '_show' : '_hidden'"
          (cardSelected)="listenerCardSelected($event)"></apo-list-card>

        <apo-selected-card [@showerHiddenCard]="!activeCardSelected ? '_hidden' : '_show'"
          [cardSelectedObserver]="emiterCardSelected"
          (closeCardSelected)="listenerClosedCardSelected($event)"></apo-selected-card>

      </div>
    </div>
  </div>
</div>
